/*  your css code here. If applicable */
.box{
	width:100vw;
	height:200px;
	background-color:blue;
	display:flex;
	justify-content:space-around;
	align-items:center
}
.btn,.stop{
	height:20px;
	width:80px;
}
